asgiref==3.7.2
black==23.3.0
blinker==1.6.2
certifi==2023.5.7
click==8.1.3
command-not-found==0.3
cryptography==3.4.8
cs50==9.2.5
dbus-python==1.2.18
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
Django==4.2.2
django-restframework==0.0.1
djangorestframework==3.14.0
filelock==3.12.2
flake8==6.0.0
Flask==2.3.2
greenlet==2.0.2
httplib2==0.20.2
importlib-metadata==4.6.4
itsdangerous==2.1.2
jeepney==0.7.1
Jinja2==3.1.2
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
MarkupSafe==2.1.2
mccabe==0.7.0
more-itertools==8.10.0
mypy-extensions==1.0.0
netifaces==0.11.0
oauthlib==3.2.0
packaging==23.1
pathspec==0.11.1
pbr==5.11.1
pipenv==2023.6.18
platformdirs==3.5.1
pycairo==1.20.1
pycodestyle==2.10.0
pyflakes==3.0.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
pytz==2023.3
PyYAML==5.4.1
SecretStorage==3.3.1
six==1.16.0
SQLAlchemy==1.4.46
sqlparse==0.4.4
stevedore==5.1.0
systemd-python==234
termcolor==2.3.0
tomli==2.0.1
typing_extensions==4.6.3
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
virtualenv==20.23.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wadllib==1.3.6
Werkzeug==2.3.4
zipp==1.0.0
